@charset "utf-8";
/* CSS Document */


.icon-shadow-accessdenied{			background-image:url(../images/icon_shadow/misc/accessdenied.png);   	background-size:20px 20px;	background-repeat:no-repeat; background-position:center center;}
.icon-shadow-home1{					background-image:url(../images/icon_shadow/misc/home.png);   			background-size:20px 20px;	background-repeat:no-repeat; background-position:center center;}
.icon-shadow-cog4{					background-image:url(../images/icon_shadow/settings/cog4.png);   		background-size:20px 20px;	background-repeat:no-repeat; background-position:center center;}

/*Location Icons*/
.icon-maps{			background-image:url(../images/icon/location/maps.png);   			background-size:20px 20px;	background-repeat:no-repeat; background-position:center center;}
.icon-googlemaps{	background-image:url(../images/icon/location/mapsgoogle.png);   	background-size:20px 20px;	background-repeat:no-repeat; background-position:center center;}
.icon-marker{		background-image:url(../images/icon/location/marker.png);   		background-size:20px 20px;	background-repeat:no-repeat; background-position:center center;}
.icon-signpost1{	background-image:url(../images/icon/location/signpost.png);   		background-size:20px 20px;	background-repeat:no-repeat; background-position:center center;}
.icon-signpost2{	background-image:url(../images/icon/location/signpost2.png);   		background-size:20px 20px;	background-repeat:no-repeat; background-position:center center;}

.icon-accessdenied{	background-image:url(../images/icon/misc/accessdenied.png);   	background-size:20px 20px;	background-repeat:no-repeat; background-position:center center;}
.icon-home1{		background-image:url(../images/icon/misc/home.png);   			background-size:20px 20px;	background-repeat:no-repeat; background-position:center center;}
.icon-cog4{				background-image:url(../images/icon/settings/cog4.png);   			background-size:20px 20px;	background-repeat:no-repeat; background-position:center center;}
