<?xml version='1.0' encoding='utf-8'?>
<widget id="com.honsoworld.brassbadger" version="1.3.2" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>BrassBadger Ammo Tracker</name>
    <description>
	BrassBadger attempts to keep track of local ammunition availability. Recent ammo shortages have made it difficult to find local supplies of ammunition. By tracking Wal-Mart's inventory, BrassBadger can show you up-to-date local stock status of all your favorite calibers. BrassBadger currently tracks the following: HANDGUN (.357 Magnum, .38 Special, .380 ACP, .40 SW, .44 Magnum, .45 Auto, .45 Colt, 9mm Luger), RIFLE (.22-250 Remington, .223 Remington, .243 Winchester, .270 Winchester, .30-06 Springfield, .30-30 Winchester, .308 Winchester, 5.56x45mm NATO, 6.8mm Remington SPC, 7.62x35mm/300BLK, 7.62x39mm), RIMFIRE (.17 HMR, .22 LR, .22 Magnum), and SHOTGUN (12 Gauge, 20 Gauge, .410 Bore). Tracking ammo availability is a complicated task. Many factors can affect the accuracy of BrassBadger. BrassBadger is not affiliated with Wal-Mart, and is limited to the accuracy of the information sources it pulls from. Remember to always be respectful to all store employees, associates, and shoppers.
    </description>
    <author email="taylor@honsoworld.com" href="http://brassbadger.com">
        Taylor Honsowetz
    </author>
    <feature name="http://api.phonegap.com/1.0/device" />
	<feature name="http://api.phonegap.com/1.0/geolocation"/>
    <preference name="permissions" value="none" />
	<preference name="phonegap-version" value="3.1.0" />
    <preference name="orientation" value="portrait" />
    <preference name="fullscreen" value="false" />
    <preference name="webviewbounce" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="show-splash-screen-spinner" value="true" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="android-minSdkVersion" value="11" />
	<preference name="android-targetSdkVersion" value="16" />
    <preference name="android-installLocation" value="auto" />
    <icon src="images/android/icon-96-xhdpi.png" />
	<gap:platform name="android" />
	<gap:plugin name="org.apache.cordova.geolocation" />
	<gap:plugin name="org.apache.cordova.inappbrowser" />
	<gap:plugin name="org.apache.cordova.network-information" />
	<gap:plugin name="com.phonegap.plugins.barcodescanner"/>
    <icon gap:density="ldpi" gap:platform="android" src="images/android/icon-36-ldpi.png" />
    <icon gap:density="mdpi" gap:platform="android" src="images/android/icon-48-mdpi.png" />
    <icon gap:density="hdpi" gap:platform="android" src="images/android/icon-72-hdpi.png" />
    <icon gap:density="xhdpi" gap:platform="android" src="images/android/icon-96-xhdpi.png" />
    <access origin="*" />
	<access origin="http://brassbadger.com" />
	<access origin="https://mobile.walmart.com" />
	<access origin="http://ws.geonames.org" />
</widget>
